<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--注册服务的名称, 名称必须唯一-->
    <dubbo:application name="health_job"/>
    <!--注册到注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--指定发布的服务
    package:扫包
    -->
    <dubbo:annotation package="com.itheima.health.job"/>

    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="jobDetail">
        <property name="targetObject" ref="cleanImgJob"/>
        <property name="targetMethod" value="cleanImg"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" id="trigger">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0/30 * * * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" id="scheduler">
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
            </list>
        </property>
    </bean>
</beans>